@charset "UTF-8";
.table01 { border-top:2px solid #0098b2; border-bottom:2px solid #0098b2; }
.table01 td { height:30px; text-align:left; border-bottom:1px solid #d2d2d2; }
.table01 .tle { padding-left:15px; font-weight:bold; font-size:13px;  color:#909090; background:#fcfcfc; border-right:1px solid #eeeeee; }
.table01 .cont { padding:8 10 8 20; }
.table01 .nobd { padding:0px; margin:0px; border:0px; }
.table01 .cmt { color:#A9A9A9; font-size:11px; }
.ed { height:22px; border:1px solid #DADADA; padding:2 2 0 2; }
.ed2 { height:22px; border:0px; padding:2 2 0 2; background:#FFFFFF; }
.txt { border:1px solid #DADADA; padding:3px; }
.table02 { border:2px solid #0098b2; }
.btn1 { background-color: #5AD2FF; }
.button {
	display: inline-block;
	width: 200px;
	height: 54px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
}
.myButton {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #00A4C2 5%, #019ad2 100%);
	background-color:#00A4C2;
	width: 125px;
	height: 38px;
	border-radius:4px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#F6F6F6;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;

}
.myButton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #00A4C2 100%);
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}
.join {
	color:#00AFD4;
	font-family:Tw Cen MT;
	font-size:30px;
	font-weight:900;	
	font-style: normal
} 
.member {
	color:#4F4F4F;
	font-family:Tw Cen MT;
	font-size:30px;
	font-weight:900;	
	font-style: normal
}   
.comment {
	color:#B3B3B3;
	font-family:돋움;
	font-size:13px;
	font-weight:bold;	
	font-style: normal
} 
.ecomment {
	color:red;
	font-family:돋움;
	font-size:13px;
	font-weight:bold;	
	font-style: normal
} 


 a:link	 {font-family:"";color:black;text-decoration:none;}
 a:visited {font-family:"";color:black;text-decoration:none;}
 a:hover {font-family:"";color:black;text-decoration:none;}

